body {
	/*
	background-color: #fff;
	color: #000;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 300;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, #eee, #eee);
	*/
}


.outerseq {
	margin-bottom: 20px;
}

.navbar-nav {
	cursor: pointer;
}

table td {
	cursor: pointer;
}

table#seq {
	padding: 20px 0;
	margin: 0px;
}

table#seq tr td {
	cursor: pointer;
	padding: 5px;
	margin: 2px;
	border: 0;
}

table#seq tr.selected {
	background-color: #0a0;
	color: #fff;
}

table#seq td.cursor {
	background-color: #ff0;
}

table#seq td.beat {
	font-weight: bold;
}

table#seq tr th {
	font-weight: normal;
	padding: 0 10px;
}

table#seq tr td {
	background-color: #eee;
	background: linear-gradient(to bottom, #ddd, #eee);
	border-radius: 5px;
	padding: 10px;
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
}

table#seq td.c4,
table#seq td.c5,
table#seq td.c6,
table#seq td.c7,
table#seq td.c12,
table#seq td.c13,
table#seq td.c14,
table#seq td.c15 {
	background-color: #ddd;
	background: linear-gradient(to bottom, #ccc, #ddd);
}


/* hahaha */
table#seq.c0 td.c0,
table#seq.c1 td.c1,
table#seq.c2 td.c2,
table#seq.c3 td.c3,
table#seq.c4 td.c4,
table#seq.c5 td.c5,
table#seq.c6 td.c6,
table#seq.c7 td.c7,
table#seq.c8 td.c8,
table#seq.c9 td.c9,
table#seq.c10 td.c10,
table#seq.c11 td.c11,
table#seq.c12 td.c12,
table#seq.c13 td.c13,
table#seq.c14 td.c14,
table#seq.c15 td.c15 {
	background-color: #ccc;
	color: #fff;
	background: linear-gradient(to bottom, #eee, #fff);
}

table#seq tr td span {
	display: block;
	margin-bottom: 0px;
	width: 24px;
	height: 20px;
	background-color: #300;
	background: linear-gradient(to bottom, #6a6, #696);
	box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

table#seq tr td.on span {
	display: block;
	background-color: #f00;
	background: linear-gradient(to bottom, #1f1, #0a0);
}

table#seq.c0 td.c0.on span,
table#seq.c1 td.c1.on span,
table#seq.c2 td.c2.on span,
table#seq.c3 td.c3.on span,
table#seq.c4 td.c4.on span,
table#seq.c5 td.c5.on span,
table#seq.c6 td.c6.on span,
table#seq.c7 td.c7.on span,
table#seq.c8 td.c8.on span,
table#seq.c9 td.c9.on span,
table#seq.c10 td.c10.on span,
table#seq.c11 td.c11.on span,
table#seq.c12 td.c12.on span,
table#seq.c13 td.c13.on span,
table#seq.c14 td.c14.on span,
table#seq.c15 td.c15.on span {
	background: linear-gradient(to bottom, #4f4, #2f2);
	box-shadow: 0 0px 10px rgba(0,255,0,1);
}

/*
ul#searchresults {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

ul#searchresults li {
	margin: 0;
	padding: 10px;
	border: 0;
	background: linear-gradient(to bottom, #e0e0e0, #fff);
}

ul#searchresults li:hover {
	background-color: #00c;
	background: linear-gradient(to bottom, #060, #090);
	color: #fff;
}

ul#searchresults li i {
	opacity: 0.75;
}
*/

#searchview {
	display: none;
}

#sampleview {
	display: none;
}

#playlistsview {
	display: none;
}

/*
#menuview {
	width: 100%;
	height: 40px;
	background: linear-gradient(to bottom, #111, #444);
}

#menuview a {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	color: #0c0;
	padding: 10px;
	box-sizing: border-box;
	font-weight: 800;
	cursor: pointer;
	text-shadow: 0 3px 1px rgba(0,0,0,0.5);
}

#menuview a:hover {
	background: linear-gradient(to bottom, #333, #666);
	color: #1f1;
}

#trackview {
	clear: both;
}
*/

/*
button {
	display: inline-block;
	background: linear-gradient(to bottom, #1a1, #191);
	border: 0;
	border-radius: 5px;
	padding: 10px 20px 11px 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	border-bottom: 2px solid #070;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	font-size: 11pt;
	text-shadow: 0 1px 1px rgba(0,0,0,0.88);
	outline: none;
}

button:hover {
	background: linear-gradient(to bottom, #2c2, #2b2);
}

button:active {
	background: linear-gradient(to bottom, #191, #171);
	border-bottom: 1px solid #070;
	margin-top: 2px;
	margin-bottom: -2px;
}

input {
	border: 0;
	padding: 5px 10px;
	border-top: 1px solid #888;
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
	outline: none;
	border-radius: 10px;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	font-size: 11pt;
}
*/

.tab-content {
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}



