body {
	background-color: #fff;
	color: #000;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 300;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, #ddd, #eee);
}

.outerseq {
	background: linear-gradient(to bottom, #fff, #eee);
}

table {
	padding: 20px 0;
	margin: 0px;
}

p {
	display: block;
	padding: 10px 10px 10px 10px;
	margin: 0;
}

p.white {
	background: linear-gradient(to bottom, #fff, #e0e0e0);
}

table tr td {
	cursor: pointer;
	padding: 5px;
	margin: 2px;
	border: 0;
}

tr.selected {
	background-color: #0a0;
	color: #fff;
}

td.cursor {
	background-color: #ff0;
}

td.beat {
	font-weight: bold;
}

table tr th {
	font-weight: normal;
	padding: 0 10px;
}

table tr td {
	background-color: #eee;
	background: linear-gradient(to bottom, #ddd, #eee);
	border-radius: 5px;
	padding: 10px;
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
}

td.c4,
td.c5,
td.c6,
td.c7,
td.c12,
td.c13,
td.c14,
td.c15 {
	background-color: #ddd;
	background: linear-gradient(to bottom, #ccc, #ddd);
}


/* hahaha */
table.c0 td.c0,
table.c1 td.c1,
table.c2 td.c2,
table.c3 td.c3,
table.c4 td.c4,
table.c5 td.c5,
table.c6 td.c6,
table.c7 td.c7,
table.c8 td.c8,
table.c9 td.c9,
table.c10 td.c10,
table.c11 td.c11,
table.c12 td.c12,
table.c13 td.c13,
table.c14 td.c14,
table.c15 td.c15 {
	background-color: #ccc;
	color: #fff;
	background: linear-gradient(to bottom, #eee, #fff);
}

table tr td span {
	display: block;
	margin-bottom: 0px;
	width: 24px;
	height: 20px;
	background-color: #300;
	background: linear-gradient(to bottom, #6a6, #696);
	box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

table tr td.on span {
	display: block;
	background-color: #f00;
	background: linear-gradient(to bottom, #1f1, #0a0);
}

table.c0 td.c0.on span,
table.c1 td.c1.on span,
table.c2 td.c2.on span,
table.c3 td.c3.on span,
table.c4 td.c4.on span,
table.c5 td.c5.on span,
table.c6 td.c6.on span,
table.c7 td.c7.on span,
table.c8 td.c8.on span,
table.c9 td.c9.on span,
table.c10 td.c10.on span,
table.c11 td.c11.on span,
table.c12 td.c12.on span,
table.c13 td.c13.on span,
table.c14 td.c14.on span,
table.c15 td.c15.on span {
	background: linear-gradient(to bottom, #4f4, #2f2);
	box-shadow: 0 0px 10px rgba(0,255,0,1);
}


ul#searchresults {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

ul#searchresults li {
	margin: 0;
	padding: 10px;
	border: 0;
	background: linear-gradient(to bottom, #e0e0e0, #fff);
}

ul#searchresults li:hover {
	background-color: #00c;
	background: linear-gradient(to bottom, #060, #090);
	color: #fff;
}

ul#searchresults li i {
	opacity: 0.75;
}

#searchview {
	display: none;
}

#sampleview {
	display: none;
}

#menuview {
	width: 100%;
	height: 40px;
	background: linear-gradient(to bottom, #111, #444);
}

#menuview a {
	display: block;
	float: left;
	width: 33.3%;
	text-align: center;
	color: #0c0;
	padding: 10px;
	box-sizing: border-box;
	font-weight: 800;
	cursor: pointer;
	text-shadow: 0 3px 1px rgba(0,0,0,0.5);
}

#menuview a:hover {
	background: linear-gradient(to bottom, #333, #666);
	color: #1f1;
}


button {
	display: inline-block;
	background: linear-gradient(to bottom, #1a1, #191);
	border: 0;
	border-radius: 5px;
	padding: 10px 20px 11px 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	border-bottom: 2px solid #070;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	font-size: 11pt;
	text-shadow: 0 1px 1px rgba(0,0,0,0.88);
	outline: none;
}

button:hover {
	background: linear-gradient(to bottom, #2c2, #2b2);
}

button:active {
	background: linear-gradient(to bottom, #191, #171);
	border-bottom: 1px solid #070;
	margin-top: 2px;
	margin-bottom: -2px;
}

input {
	border: 0;
	padding: 5px 10px;
	border-top: 1px solid #888;
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
	outline: none;
	border-radius: 10px;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	font-size: 11pt;
}

